body {
    font-family: "Varela Round", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #384047;
    margin: 0;
    padding: 0;
}
.main-header,
.after-header {
    text-align: center;
    display: block;
    padding: 10px 15px;
}
.main-header {
    color: white;
    background-color: #384047;
}
.tagline {
    color: lightgrey;
}
.solid,
.solid2 {
    margin: 4px 10px;
}
.solid {
    border: solid 3px black;
}
.solid2 {
    border: solid 1px black;
    margin-bottom: 20px;
}
legend {
    font-size: 1.4em;
    margin-bottom: 20px;
    font-weight: bold;
  }

fieldset {
    margin-bottom: 30px;
    border: none;
}
label {
    display: block;
    margin-bottom: 8px;
    color: rgba(129, 144, 168, 1);
}

input[type="text"],
input[type="tel"],
input[type="email"],
textarea,
select {
  background: rgba(255,255,255,0.1);
  border: none;
  border-radius: 5px;
  font-size: 16px;
  height: auto;
  margin: 0;
  outline: 0;
  padding: 15px;
  width: 90%;
  background-color: #e8eeef;
  color: lightgrey;
  box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
  margin-bottom: 30px;
  
}
input[type="email"]::placeholder,
input[type="text"]::placeholder {
    color: #999;
    font-style: italic;
    font-size: small;
    text-align: end;
}
input[id="zipcode"] {
  width: 40%;
}
input[type="text"]:focus,
input[type="tel"]:focus,
input[type="email"]:focus,
textarea:focus,
select:focus {
    border: solid 3px black;
    outline: none;
}
select {   
  color: rgba(129, 144, 168, 1);
  width: 98%;
}
p {
    color: #585481;
}

label.inline {
    font-weight: 400;
    display: inline;
  }

input[type="radio"],
input[type="checkbox"] {
  margin: 0 4px 16px 0;
}
textarea {
    height: 80px;
    width: 90%;
} 
label[for="othertopics"] {
    margin-top: 30px;
}
button {
  padding: 19px 39px 18px 39px;
  color: #FFF;
  background-color: #3acec2;
  font-size: 18px;
  text-align: center;
  font-style: normal;
  border-radius: 5px;
  width: 100%;
  border: 1px solid #158178;
  border-width: 1px 1px 3px;
  box-shadow: 0 -1px 0 rgba(255,255,255,0.1) inset;
}

footer {
    margin-top: -10px;
    text-align: center;
    font-size: small;
    font-style: italic;
}
@media (min-width: 768px) {

    .desktop {
        max-width: 800px;
        margin: 0 auto;
    }
    input[type="text"],
    input[type="tel"],
    input[type="email"] {
        width: 75%;
    }
    select {
        width: 79%
    }
    textarea {
        width: 96%
    }
    .desktopinline {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
    }
    input[type="radio"],
    input[type="checkbox"] {
    margin: 0 12px 24px 0;
    }
    .zipinline {
        display: flex;
        align-items: baseline;
    }
    input[id="zipcode"] {
        width: 20%;
        margin: 0 0 0 95px;
    }
}


 
